<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/game.css">
</head>
<body>
    <div>
        <h1>H to Ca</h1>
    </div>
    <table class="game">
        <tr>
            <td class="element-box">H</td>
            <td class="element-box">He</td>
            <td class="element-box">Ca</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
        </tr>
        <tr>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
        </tr>
        <tr>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
        </tr>
        <tr>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
        </tr>
        <tr>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
            <td class="element-box">H</td>
        </tr>
    </table>
    <div class="timer">0.000</div>
    <button>reset</button>
    <button>main</button>
</body>
</html>