<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H to Ca</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <h1 name="title">H to Ca</h1>
    <table id="periodic-table"></table>
    <label><input type="checkbox" name="color" value="blue">힌트모드 활성화 (5초동안 누르지 못하면 힌트를 줍니다.)</label>
    <br>
    <button onclick="start()">Start</button>
    <h3>원자번호 순서대로 얼마나 빨리 클릭할 수 있나요?</h2>
    <p>H to ~ 는 주기율표를 쉽게 외우기 위한 챌린지입니다.</p>
    <p>자신이 원하는 원소를 선택하여 수소부터 그 원소까지 순서대로 클릭하면 됩니다.</p>
    <p>더 빠르게 기록을 갱신해 랭킹안에 드는것을 노려보세요!</p>
    <p>힌트모드를 활성화해보세요. 게임을 더 쉽게 플레이 할 수 있습니다.</p>
    <p>이 프로젝트는 "1 to 50"게임을 참고해 만들었습니다.</p>
</body>
</html>