<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>H to Ca</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js"></script>
    <link rel="icon" href="/img/icon.ico"/>
</head>
<body>
    <h1 name="title">H to Ca</h1>
    <table id="periodic-table"></table>
    <label><input type="checkbox" id="hint">힌트모드 활성화 (5초동안 누르지 못하면 힌트를 줍니다.)</label>
    <br>
    <button onclick="start()">Start</button>
    <h3>플레이방법</h2>
    <p>주기율표에서 H(수소)부터 외울범위까지의 원소를 선택합니다.</p>
    <p>힌트모드를 설정한뒤 </p>
    <p>더 빠르게 기록을 갱신해 랭킹안에 드는것을 노려보세요!</p>
    <p>힌트모드를 활성화해보세요. 게임을 더 쉽게 플레이 할 수 있습니다.</p>
    <p>이 프로젝트는 "1 to 50"게임을 참고해 만들었습니다.</p>
</body>
</html>