<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="/img/icon.ico"/>
</head>
<body>
    <div class="box">
        <p id='result' style="margin-bottom: -30px;"></p>
        <h1 id="time" style="font-size: 50px;"><%= Math.floor((runningTime / 1000)) %>.<%= runningTime % 1000 %>S</h1>
        <canvas id="myLineChart" width="700" height="350"></canvas>
        <button onclick="re()">reset</button>
        <button onclick="main()">main</button>
    </div>
</body>
</html>