<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>your H to Ca result:</p>
    <h1 id="time"></h1>
    <div>
        <h1>결과</h1>
        <p>선택한 요소: <%= choice %></p>
        <p>소요 시간: <%= runningTime %> 밀리초</p>
        <p>클릭 시간: <%= clickTime.join(', ') %></p>
    </div>
</body>
</html>